
/*===========fondos====================*/



/*-----------------------INTRO------------------------------*/

.intro{

  width: 99vw;
  height: auto;
  background-image: url("./img/Inicio.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.intro section{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: auto;
  
  justify-content: center;
  align-items: center;

 
 
  
}


.intro section div{
  margin-left: 5%;
  width: 20%;
}


.intro_2{
  width: 99vw;
  height: auto;
  background-image: url("./img/Inicio_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_2 img{
z-index: -500;
}
 /*-----------------------MAPA------------------------------*/


.mapa{
  width: 99vw;
  height: auto;
  background-image: url("./img/chayanne.png");
  background-repeat: no-repeat;
  background-size: cover;
}





/*-----------------------BLOQUE 1------------------------------*/

.bloque_1{

  width: 99vw;
  height: auto;
  background-image: url("./img/nucleo1_fondo1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.mancha{
  position: sticky;
  width: 200px;
  /*el left no toma mas de 1000px*/
  left: 1000px;
  margin-top: -80px;
}

.esponja{
  z-index: 1;
  position: absolute;
  width: 80px;
  /*el left no toma ningun parametro*/
  left: 400px;
  top: 450px;
cursor: grab;
}


/*=================ANIMACION CIRCULO=========================*/

.circle {
  z-index: 0;
  position: absolute;
  width: 80px;
  left: 400px;
  top: 450px;
	background-color: rgba(255, 82, 82, 0.3);
	border-radius: 90%;
	animation: pulse-red 2s infinite;
	height: 50px;
	width: 50px;
}


@keyframes pulse-red {
	0% {
		transform: scale(1.2);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.3);
	}

	70% {
		transform: scale(2);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}


/*=================DRAG N DROP=========================*/

.box {
  height: 100px;
  width: 100px;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: 550px;
  top: 80px;

cursor: grab;
  
}

.held {
 /* border: solid 10px black;
  background-color: black;*/
  
}
 
.holder {
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 15%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 870px;
  top: 0px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.hovered {
 filter: opacity(0.50);
}

.invisible {
  display: none;
}



#container {
 
  
}