
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*===========fondos====================*/



/*-----------------------INTRO------------------------------*/

.intro{

  width: 99vw;
  height: auto;
  background-image: url("./img/Inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20%;

}

.intro section{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: auto;
  
  justify-content: center;
  align-items: center;


 
 
  
}


.intro section div{
  margin-left: 5%;
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;

  
}


.intro section h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 0px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
  
}

.intro section h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.intro section button{

border-style: none;
cursor: pointer;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 30px;
/* identical to box height */

text-align: center;
color: #FFFFFF;

/* Violeta */

background: #5C62A2;

padding: 2%;
padding-left: 15%;
padding-right: 15%;


align-self: center;

}


.intro section button:hover{
  filter: brightness(1.2);

}




/*--parte 2--*/



.intro_2{
  width: 99vw;
  height: auto;
  background-image: url("./img/Inicio_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_2 img{
z-index: 50;
position: absolute;
height: 98vh;
margin-left: 8%;
}


.intro_2 div{
  z-index: 55;
 position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 410px;
  top:200px;

}

.intro_2 div button{

  border-style: none;
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height */
  
  text-align: center;
  color: #FFFFFF;
  
  /* Violeta */
  
  background:  #F36B57;
  
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
  
  
  align-self: center;
  
  }

  .intro_2 div  button:hover{
    filter: brightness(1.2);
  
  }
  
  
.intro_2 div h2{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
  
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  
}

.intro_2 div h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  
  color: #FFFFFF;
 
}
 /*-----------------------MAPA------------------------------*/


.mapa{
  width: 99vw;
  height: auto;
  background-image: url("./img/Mapa.png");
  background-repeat: no-repeat;
  background-size: cover;
}




/*Mapa bloque 1------------------------------*/

.btn_bloque1__m1{
  position: absolute;
  top: 600px;
  left: 280px;
  
  }
.btn_bloque1__m1:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque2__m1{
  position: absolute;
  top: 350px;
  left: 250px;
  cursor: not-allowed;

  }

  .btn_bloque3__m1{
    position: absolute;
    top: 520px;
    left: 840px;
    cursor: not-allowed;
  
    }


    .btn_bloque4__m1{
      position: absolute;
      top: 170px;
      left: 960px;
      cursor: not-allowed;
    
    }
  
/*Mapa bloque 2------------------------------*/

.btn_bloque1__m2:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque1__m2{
  position: absolute;
  top: 600px;
  left: 280px;
  
  }

.btn_bloque2__m2:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque2__m2{
  position: absolute;
  top: 350px;
  left: 250px;
  

  }

  .btn_bloque3__m2{
    position: absolute;
    top: 520px;
    left: 840px;
    cursor: not-allowed;
  
    }


    .btn_bloque4__m2{
      position: absolute;
      top: 170px;
      left: 960px;
      cursor: not-allowed;
    
    }

      
/*Mapa bloque 3 ------------------------------*/

.btn_bloque1__m3:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque1__m3{
  position: absolute;
  top: 600px;
  left: 280px;
  
  }

.btn_bloque2__m3:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque2__m3{
  position: absolute;
  top: 350px;
  left: 250px;
  

  }

  .btn_bloque3__m3{
    position: absolute;
    top: 520px;
    left: 840px;
    
  
    }


    .btn_bloque3__m3:hover{

      filter: brightness(1.5);
      cursor: pointer;
    }


    .btn_bloque4__m3{
      position: absolute;
      top: 170px;
      left: 960px;
      cursor: not-allowed;
    
    }



         
/*Mapa bloque 4 ------------------------------*/

.btn_bloque1__m4:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque1__m4{
  position: absolute;
  top: 600px;
  left: 280px;
  
  }

.btn_bloque2__m4:hover{

  filter: brightness(1.5);
  cursor: pointer;
}

.btn_bloque2__m4{
  position: absolute;
  top: 350px;
  left: 250px;
  

  }

  .btn_bloque3__m4{
    position: absolute;
    top: 520px;
    left: 840px;
    
  
    }


    .btn_bloque3__m4:hover{

      filter: brightness(1.5);
      cursor: pointer;
    }


    .btn_bloque4__m4{
      position: absolute;
      top: 170px;
      left: 960px;
     
    
    }


    .btn_bloque4__m4:hover{

      filter: brightness(1.5);
      cursor: pointer;
    }




/*-----------------------BLOQUE 1------------------------------*/





.bloque_1{

  width: 99vw;
  height: auto;
  background-image: url("./img/problemática del plástico_codigo fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}



.volver_mapa{
  margin-left: 2%;
  margin-top: 1%;
}


.volver_mapa:hover{
 filter: brightness(1.1);
 cursor: pointer;

}


.mancha{
  position: sticky;
  width: 200px;
  /*el left no toma mas de 1000px*/
  left: 1000px;
  margin-top: -80px;
}

.esponja{
  z-index: 1;
  position: absolute;
  width: 80px;
  /*el left no toma ningun parametro*/
  left: 400px;
  top: 450px;
cursor: grab;
}


/*drag n drop ----------------------------*/

.holder_1{
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 20%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 720px;
  top: -30px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.box_1 {
  height: 100px;
  width: 100px;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: 300px;
  top: 100px;

cursor: grab;
  
}



/*-----------------------BLOQUE 2------------------------------*/

.bloque_2{

  width: 99vw;
  height: auto;
  background-image: url("./img/bloque2.png");
  background-repeat: no-repeat;
  background-size: cover;
}



/*drag n drop izquierda-------------------*/
.holder_2{
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 15%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 60px;
  top: 300px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.box_2{
  height: 100px;
  width: 100px;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: 220px;
  top: -430px;

cursor: grab;
  
}


/*drag n drop derecha-------------------*/
.holder_3{
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 10%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 1100px;
  top: 315px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.box_3{
  height: 100px;
  width: 100px;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: -50px;
  top: -350px;

cursor: grab;
  
}

/*-----------------------BLOQUE 3------------------------------*/

.bloque_3{

  width: 99vw;
  height: auto;
  background-image: url("./img/Puntos verdes 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}



/*drag n drop tacho verde-------------------*/
.holder_4{
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 15%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 850px;
  top: 500px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.box_4{
  height: auto;
  width: 20%;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: -50px;
  top: 0px;

cursor: grab;
  
}


/*drag n drop tacho negro-------------------*/
.holder_5{
  position: absolute;
 /*esto influye en el tamaño de la imagen del contenedor*/
  width: 15%;
  margin: 10px;

  /*cuando modifico este top y left, tambien se modifica el de la esponja, ¿por que?*/
  left: 950px;
  top: 550px;
  /*border: solid 5px black;
  background-color: white;*/
  display: inline-block;
}

.box_5{
  height: auto;
  width: 20%;
  /*background-color: black;*/
  position: relative;

  /*este top y este left, esta tomando de referencia la posicion de su contenedor, hay algo que esta heredando y no se que es*/
  left: 100px;
  top: 70px;

cursor: grab;
  
}


/*-----------------------BLOQUE 4------------------------------*/

.bloque_4{

  width: 99vw;
  height: auto;
  background-image: url("./img/Ecoladrillo - 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/*-----------------------FIN------------------------------*/


.fin{

  width: 99vw;
  height: auto;
  background-image: url("./img/fin.png") ;
  background-repeat: no-repeat ;
 
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

}


.fin img{
  margin-top: 28%;
  position: absolute;
  width: 40%;
  height: auto;
}

.fin div{
  position: absolute;
  width: 30%;
  text-align: center;
  margin-top: 53%;
}


.fin div h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 0px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
  
}

.fin div h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FFFFFF;
}

.fin div button{

border-style: none;
cursor: pointer;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 30px;
/* identical to box height */

text-align: center;
color: #FFFFFF;

/* Violeta */

background: #F36B57;

padding: 2%;
padding-left: 15%;
padding-right: 15%;


align-self: center;

}

.fin div button:hover{
  filter: brightness(1.2);

}









/*=================ANIMACION CIRCULO=========================*/

.circle {
  z-index: 0;
  position: absolute;
  width: 80px;
  left: 400px;
  top: 450px;
	background-color: rgba(255, 82, 82, 0.3);
	border-radius: 90%;
	animation: pulse-red 2s infinite;
	height: 50px;
	width: 50px;
}


@keyframes pulse-red {
	0% {
		transform: scale(1.2);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.3);
	}

	70% {
		transform: scale(2);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}


/*=================DRAG N DROP=========================*/


.held {
 /* border: solid 10px black;
  background-color: black;*/
  
}
 

.hovered {
 filter: opacity(0.50);
}

.invisible {
  display: none;
}

#container {
 
  
}

#container_2{
 
  
}









